<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/images/icons/icon-152x152.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="72x72" href="{{ '/assets/images/icons/icon-72x72.png' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/manifest.json' |  relative_url }}">
    <link rel="mask-icon" href="https://www.tdwg.org/theme/icons/safari-pinned-tab.svg" color="#617694">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="https://www.tdwg.org/theme/css/main.css"> -->
    <!-- <link rel="stylesheet" href="https://www.rebipp.org.br/theme/css/main.css"> -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />


    <!-- Feeds -->
    <link rel="alternate" type="application/rss+xml" href={{ '/feed.xml' | absolute_url }}" title="{{ site.title }} RSS feed">

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "CreativeWork",
          "name": "Plant-Pollinator Interactions (PPI)",
          "creator": {
            "@type": "Organization",
            "name": "Brazilian Network on Plant-Pollinator Interactions (REBIPP)"
          },
          "identifier": "http://rs.rebipp.org.br/ppi/terms/",
          "url": "http://rs.rebipp.org.br/ppi/terms/",
          "version": "2021-12-03",
          "dateModified": "2021-12-03",
          "description": "The Plant-Pollinator Interactions (PPI) is a vocabulary of terms for transmitting information about plant-pollinator interactions using the Darwin Core standard. This document lists all terms in namespaces currently used in the vocabulary.",
          "keywords": [
            "biodiversity",
            "metadata schema",
            "pollinator",
            "pollination"
          ],
          "license": "https://creativecommons.org/licenses/by/4.0/",
          "status": "valid",
          "distribution": [
            {
              "@type": "DataDownload",
              "encodingFormat": "text/html",
              "contentUrl": "http://rs.rebipp.org.br/ppi/terms.htm"
            },
            {
              "@type": "DataDownload",
              "encodingFormat": "text/turtle",
              "contentUrl": "http://rs.rebipp.org.br/ppi/terms.ttl"
            },
            {
              "@type": "DataDownload",
              "encodingFormat": "application/rdf+xml",
              "contentUrl": "http://rs.rebipp.org.br/ppi/terms.rdf"
            },
            {
              "@type": "DataDownload",
              "encodingFormat": "application/ld+json",
              "contentUrl": "http://rs.rebipp.org.br/ppi/terms.json"
            }
          ],
          "isAccessibleForFree": true,
          "contributor": [
            { "@type": "Person", "name": "José Augusto Salim" },
            { "@type": "Person", "name": "Antonio Mauro Saravia" },
            { "@type": "Person", "name": "Paula Zermoglio" },
            { "@type": "Person", "name": "Kayna Agostini" },
            { "@type": "Person", "name": "John Wieczorek" },
            { "@type": "Person", "name": "Debora Pignatari Drucker" },
            { "@type": "Person", "name": "Pedro Bergamo" },
            { "@type": "Person", "name": "Filipi Miranda Soares" }
          ],
          "citation": {
            "@type": "CreativeWork",
            "name": "Related publication",
            "url": "https://doi.org/10.1093/gigascience/giac043"
          },
          "hasPart": {
            "@type": "CreativeWork",
            "name": "Version History",
            "url": "http://rs.rebipp.org.br/ppi/doc/list/2021-12-03"
          }
        }
        </script>
</head>
